header{
    background-color: blue;
    height: 100px;
    width: 100%;
}

section.cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background-color: white;
}

article.informacion{
    display: flex;
}

div.caja{
    border: 1px solid black;
}

footer{
    background-color: blue;
    height: 50px;
    width: 100%;
}

