header{
    background-color: blue;
    height: 100px;
    width: 100%;
}

section.cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background-color: white;
}

article.Informacion{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

div.caja{
    border: 1px solid black;
    width: 40%;
    margin: 20px;
    text-align: center;
    box-sizing: border-box;
}

footer{
    background-color: blue;
    height: 50px;
    width: 100%;
}

