header{
    background-color: blue;
    height: 100px;
    width: 100%;
}

section.cuerpo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background-color: white;
}

article.Informacion{
    display: flex;
    flex-wrap: wrap;
}

div.caja{
    border: 1px solid black;
    width: 45%;
    margin: 10px;
    text-align: center;
}

footer{
    background-color: blue;
    height: 50px;
    width: 100%;
}

