section h1{
    float: left;
    background-color: rgb(89, 89, 253);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.curso{
    display: flex;
    width: 80%;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.curso img{
    height: auto;
    float: left;
    width: 100px;
    margin: 10px;
}