section h1{
    background-color: rgb(89, 89, 253);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
}

.curso{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.curso img{
    height: auto;
    float: left;
    width: 100px;
    margin: 10px;
}

.curso h3{
    margin: 0;
    line-height: 1.5;
}

.curso p{
    margin-top: 0px;
    line-height: 1.5;
}

.curso a{
    float: right;
    margin: 10px;
    color: white;
    background-color: blue;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
}

.curso a:hover{
    background-color: rgb(255, 196, 1);
}