/* Estilos para el formulario */
form {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  /* Estilos para el campo de texto */
  input[type="text"], input[type="tel"], input[type="email"] {
    width: 98%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }
  
  /* Estilos para el campo de selección */
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Estilos para el checkbox */
  .checkbox-wrapper {
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .checkbox-wrapper input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .checkbox-wrapper p {
    display: inline-block;
    font-size: 16px;
  }
  
  /* Estilos para el botón de envío */
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  /* Estilos para el título del formulario */
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  /* Estilos para el campo de texto de nombre y apellido */
  #nombre, #apellido, #telefono, #correo, select, .checkbox-wrapper {
    margin-bottom: 20px;
  }


